<!doctype html>
<html lang="en">

<head>
    <title>navbar-main</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="../../assets/icon/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
</head>

<body>
    <div id="navbar-main">
        <nav class="navbar navbar-expand-md navbar-light bg-light border rounded-bottom">
            <a class="navbar-brand text-primary" href="./jobs-current.html"><span class="oi oi-dashboard"></span>
                Whiteblue's Managers</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <a class="text-primary" href="#"><span class="oi oi-grid-three-up"></span></a>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item" id="nav-link">
                        <a class="nav-link" id="conn-device" href="./conn-device.html"><span
                                class="oi oi-laptop"></span> Device</a>
                    </li>
                    <li class="nav-item dropdown" id="jobs">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><span class="oi oi-task"></span> Jobs</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" id="jobs-current" href="./jobs-current.html"><span
                                    class="oi oi-share"></span>
                                Current</a>
                            <a class="dropdown-item" id="jobs-finished" href="./jobs-finished.html"><span
                                    class="oi oi-share"></span>
                                Finished</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" id="report">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><span class="oi oi-pie-chart"></span> Report</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" id="report-today" href="./report-today.html"><span
                                    class="oi oi-share"></span>
                                Today</a>
                            <a class="dropdown-item" id="report-stat" href="./report-stat.html"><span
                                    class="oi oi-share"></span>
                                Statistics</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="infoUsr">-username-</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/wb-app-03/page/login/">Logout <span
                                class="oi oi-account-logout"></span></a>
                    </li>
                </ul>
        </nav>
    </div>
    <script src="./navbar-main.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../../assets/bootstrap/js/bootstrap.js" crossorigin="anonymous"></script>
</body>

</html>